<mat-horizontal-stepper linear #stepper>
    <mat-step *ngFor="let splitsmolen of splitsmolenGame.getSplitsmolens(); let i = index" [completed]="gameStep.completed" editable="false">
        <ng-template matStepLabel></ng-template>
        <app-splitsmolens-game-step (gameStopped)="gotoResultEarly($event)" (gameCompleted)="gotoResult($event)" (correcteSplitsmolen)="addCorrecteSplitsmolen($event)" (fouteSplitsmolen)="addFouteSplitsmolen($event)" [splitsmolen]="splitsmolen" [index]="i" [totaal]="splitsmolenGame.getSplitsmolens().length" #gameStep></app-splitsmolens-game-step>
    </mat-step>
<mat-horizontal-stepper>