button{
    display: inline-block;
    margin:  10px;
    padding: 10px 20px;
    font-size: larger;
    
}
.card-container-small{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
    text-align: center;
} 
.card-content{
    font-size: 2em;
    padding: 15px;
    font-weight: bolder;
}
.card-content-larger{
    font-size: 3em;
    padding: 30px;
    font-weight: bolder;
}
.margin-top{
    margin-top: 20px;
}
mat-card-title{
    text-align: center;
}
.opgave{
    background-color: blueviolet;
}
.fout{
    background-color: red;
}
.correct{
    background-color: greenyellow;
}
.gevraagd{
    background-color: plum;
}
.container{
    padding: 15px;
}
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
.minh{
    min-height: 75px;
}
.emph{
    font-size: 1.2em;
    font-weight: bold;
}