<h2>Welkom bij de het Sorteerspel</h2>
<form [formGroup]="form" (ngSubmit)="startOefening()">
    <div>
        <mat-icon color="primary" matTooltip="Geef hier de naam in van wie het Sorteerspel gaat spelen." matTooltipPosition="left">info</mat-icon>
        <mat-form-field appearance="outline">
            <mat-label>Wie oefent het Sorteerspel?</mat-label>
            <input matInput type="text" formControlName="gebruiker">
        </mat-form-field>
    </div>
    <div>
        <mat-icon color="primary" matTooltip="Geef hier het laagste level op. Dit cijfer mag niet hoger zijn dan het hoogste getal" matTooltipPosition="left">info</mat-icon>
        <mat-form-field appearance="outline">
            <mat-label>Laagste getal</mat-label>
            <input matInput type="number" formControlName="ondergrens" min="0">
        </mat-form-field>
        <div *ngIf="form.errors" class="error">
            <div *ngIf="form.errors?.ondergrensInvalid">
                {{getErrorMessage(form)}}
            </div>
        </div>
    </div>
    <div>
        <mat-icon color="primary" matTooltip="Geef hier het hoogste getal op. Dit cijfer mag niet lager zijn dan het laagste getal." matTooltipPosition="left">info</mat-icon>
        <mat-form-field appearance="outline">
            <mat-label>Hoogste getal</mat-label>
            <input matInput type="number" formControlName="bovengrens" max="20">
            <mat-error>{{getErrorMessage(form.get("bovengrens"))}}</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-icon color="primary" matTooltip="Geef hier het aantal getallen per oefening op." matTooltipPosition="left">info</mat-icon>
        <mat-form-field appearance="outline">
            <mat-label>Aantal getallen per oefening</mat-label>
            <input matInput type="number" formControlName="aantalGetallenPerOefening">
            <mat-error>{{getErrorMessage(form.get("aantalGetallenPerOefening"))}}</mat-error>
        </mat-form-field>  
        <div *ngIf="form.errors" class="error">
            <div *ngIf="form.errors?.aantalGetallenInvalid">
                {{getErrorMessage(form)}}
            </div>
        </div>    
    </div>
    <div>
        <mat-icon color="primary" matTooltip="Geef hier het aantal oefeningen op." matTooltipPosition="left">info</mat-icon>
        <mat-form-field appearance="outline">
            <mat-label>Aantal oefeningen</mat-label>
            <input matInput type="number" formControlName="aantalOefeningen">
            <mat-error>{{getErrorMessage(form.get("aantalOefeningen"))}}</mat-error>
        </mat-form-field>      
    </div> 
    <div>
        <mat-icon color="primary" matTooltip="" matTooltipPosition="left">info</mat-icon>
        <mat-form-field appearance="outline">
            <mat-label>Selecteer een sorteerwijze</mat-label>
            <select matNativeControl formControlName="sorteerwijze">    
                <option *ngFor="let wijze of sorteerWijzen" value="{{wijze}}">{{wijze}}</option>
            </select>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Start de oefening! </button>
    </div>
</form>        