mat-card{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
mat-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    font-size: 2em;
    padding: 20px;
    margin: 10px 0;
}
i{
    font-size: 1.2em;
}