<mat-card>
    <mat-card-title><h1 class="mat-display-3">Welkom!</h1></mat-card-title>
    <mat-card-content>
        <button [routerLink]="['/splitsmolens']" class="mdc-button" mat-raised-button color="primary">
            <i class="material-icons mdc-button__icon" aria-hidden="true">call_split</i>
            Splitsmolens
        </button>
        <button [routerLink]="['/gdkd']" class="mdc-button" mat-raised-button color="primary">
            <i class="material-icons mdc-button__icon" aria-hidden="true">code</i>
            Groter dan, kleiner dan
        </button>
        <button [routerLink]="['/sorteerspel']" class="mdc-button" mat-raised-button color="primary">
            <i class="material-icons mdc-button__icon" aria-hidden="true">sort</i>
            Sorteerspel
        </button>
    </mat-card-content>
</mat-card>
